[Unit]
Description=Dispositif M3 de l'exposition MAISON du vaisseau.
After = multi-user.target

[Service]
Type = simple
Environment="XDG_RUNTIME_DIR=/run/user/1000"
ExecStart=/usr/bin/python /home/vaisseau/Desktop/M3/do_the_thing.py

[Install]
WantedBy=multi-user.target